-e git+https://github.com/ping/instagram_private_api.git@1.3.5#egg=instagram_private_api-1.3.5
-e git+https://github.com/ping/instagram_private_api_extensions.git@0.3.6#egg=instagram_private_api_extensions-0.3.6
